html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 999;
}

.header {
  width: 100%;
}

.menu ul {
  width: 100%;
  margin: auto;
  padding: 15px 0px;
}

.menu li {
  display: inline-block;
  padding: 5px;
}

.menu a {
  text-decoration: none;
  color: black;
  background-color: #DDD;
  transition: 0.4s;
  padding: 5px 25px;
}

.menu a:hover {
  text-decoration: none;
  color: #999;
  background-color: #FFF;
  transition: 0.4s;
}

.profile {
  width: 100%;
  background: url(https://lh3.googleusercontent.com/PcHjj8zzq7I9QfM6Bsmir1_meyg5arQ8C85d0nlQ3kzzSONkNHHwRTtwraQZTYzEUZCd=w2247-h1264) fixed 100% no-repeat;
  background-size: cover;
  padding: 159.5px 0px 100px 0px;
  text-align: center;
}

.home {
  width: 100%;
  text-transform: uppercase;
}

.home img {
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

.home h1 {
  font-weight: 100;
  font-size: 50px;
  color: #EEE;
  padding: 0px 0px 5px 0px;
}

.home h2 {
  font-weight: 100;
  font-size: 30px;
  color: #DDD;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.detail {
  padding: 100px 0px;
  background: url(https://images.adsttc.com/media/images/534e/e403/c07a/800b/7b00/000a/large_jpg/World_Trade_Center_fog.jpg?1397679101);
  background-size: cover;
  background-position: bottom;
  opacity: 0.86;
  padding: 159.5px 0px 100px 0px;
}

.skills {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.title h2 {
  padding-bottom: 25px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.title p {
  padding-bottom: 75px;
  text-align: justify;
  width: 100%;
  margin: auto;
}

.bardiv {
  width: 100%;
  margin: auto;
}

.bardiv h3 {
  font-size: 20px;
  padding-bottom: 5px;
  color: black;
}

.progressbar {
  width: 100%;
  margin: auto;
  height: 5px;
  background-color: white;
  position: relative;
  margin-bottom: 15px;
}

.progressbar span {
  height: 5px;
  background-color: #000;
  z-index: 888;
  position: absolute;
  top: 0px;
  left: 0px;
}

.html {
  width: 80%;
}

.css {
  width: 70%;
}

.javascript {
  width: 65%;
}

.cplus {
  width: 75%;
}

.maindetail {
  padding: 100px 0px;
}

.about {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.photo {
  width: 50%;
  float: left;

}

.photo img {
  width: 90%;
  border-radius: 12px;
}

.text {
  width: 50%;
  float: left;
  position: relative;
}

.text h2 {
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
}

.text p {
  padding-bottom: 75px;
  text-align: justify;
}

.text a {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-decoration: none;
  color: black;
  background-color: #DDD;
  transition: 0.4s;
  padding: 5px 25px;
  border: 1px solid white;
}

.text a:hover {
  text-decoration: none;
  color: #999;
  border: 1px solid #999;
  background-color: #FFF;
  transition: 0.4s;
}

.clear {
  clear: both;
}

.conteneur {
  padding: 100px 0px;
}

.qualification {
  max-width: 960px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.qualification h2 {
  padding-bottom: 50px;
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
}

.lastqualification {
  padding-left: 25px;
  padding-bottom: 25px;
}

.lastqualification h3 {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 100;
}

.lastqualification h4 {
  font-size: 17px;
  padding-bottom: 5px;
  font-weight: 100;
  color: #999;
}

.othqualification {
  padding-left: 25px;
  padding-bottom: 25px;
}

.othqualification h3 {
  font-size: 17px;
  padding-bottom: 5px;
  font-weight: 100;
}

.othqualification h4 {
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 100;
  color: #999;
}


.conteneurcontact {
  padding: 100px 0px;
  background: url(https://images.wallpaperscraft.com/image/computer_keyboard_mouse_laptop_mac_apple_66734_1920x1080.jpg) fixed 100% no-repeat;
  background-size: cover;
}

.contact {
  max-width: 660px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.contact h2 {
  padding-bottom: 50px;
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
  color: #FFF;
}

.input h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  text-align: left;
}

.input textarea {
  margin-bottom: 15px;
}

input[type="email"],
input[type="text"],
textarea {
  height: 25px;
  width: 100%;
  padding: 2.5px 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-bottom: 1px solid #E3E3E3;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  color: #fff;
}

textarea {
  min-height: 150px;
  max-height: 150px;
  max-width: 100%;
  max-width: 100%;
}

input[type="submit"] {
  font-size: 17px;
  width: 100%;
  display: inline-block;
  height: 25px;
  padding: 0 30px;
  text-align: center;
  font-weight: 100;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

input[type="submit"]:hover {
  background-color: #FFF;
  color: #000;
  text-decoration: none;
  transition: 0.4s;
}